/* slightly edited variant of https://codepen.io/Jemimaabu/pen/vYEYdOy */

#balloon-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* important */
  z-index: 9999;
}

.balloon {
  position: absolute;
  width: 42px;
  height: 98px; /* Set a specific height */
  pointer-events: auto;
  animation: float 12s linear forwards;
  opacity: 0.95;
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150px, -140vh);
  }
}