/* slightly edited variant of https://codepen.io/Jemimaabu/pen/vYEYdOy */

#special-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* important */
  z-index: 9999;
}

.balloon {
  position: absolute;
  width: 42px;
  height: 98px; /* Set a specific height */
  pointer-events: auto;
  animation: float 12s linear forwards;
  opacity: 0.95;
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150px, -140vh);
  }
}

.xmas-tree {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 450px;
  z-index: 1000;
  background-image: url('/assets/special/xmastree.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fairy-lights {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 9999;
  background-image: url('/assets/special/fairylights.gif');
  background-size: contain;
}